*.c~
*.cc~
*.cpp~
.DS_Store
*.eps
*.log
*.pdf
*.gz
*.py~
*.pyc
#*.root
*.so
*.tar.gz
*.tgz
._*
Bamboo_setup/Z_OUTPUT/*
Bamboo_setup/config/analysis_2018_test.yml
*.out
Bamboo_setup/.vscode/*
.gitignore
