*.c~
*.cc~
*.cpp~
.DS_Store
*.eps
*.log
*.pdf
*.gz
*.py~
*.pyc
#*.root
*.so
*.tar.gz
*.tgz
._*
Bamboo_setup/Z_OUTPUT/*
Bamboo_setup/config/analysis_2018_test.yml
Bamboo_setup/config/analysis*_test.yml
*.out
Bamboo_setup/.vscode/*
Bamboo_setup/src/myscripts
Bamboo_setup/get_rdf.py
Bamboo_setup/myREADME.md
Bamboo_setup.code-workspace
Bamboo_setup/config/analysis_2018_test_eos.yml
.gitignore
Bamboo_setup/config/analysis_2017_local.yml
Bamboo_setup/config/analysis_2017_L1.yml
Bamboo_setup/config/analysis_2018_L1.yml
Bamboo_setup/config/analysis_2023_L1.yml
Bamboo_setup/config/analysis_2018_local.yml
Bamboo_setup/config/analysis_2023_local.yml
Bamboo_setup/config/analysis_2023_arthur.yml
Bamboo_setup/config/analysis_2022_local.yml
Bamboo_setup/mydir/*
*.cc

